.MiniPalette-root {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
}
.MiniPalette-root:hover {
    cursor: pointer;
}
.MiniPalette-root:hover .MiniPalette-deleteIcon {
    opacity: 1;
}

.MiniPalette-colors {
    background-color: #dae1e4;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.MiniPalette-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: black;
    padding-top: 0.5rem;
    font-size: 1rem;
    position: relative;
}

.MiniPalette-emoji {
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.MiniPalette-miniColor {
    height: 25%;
    width: 20%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-bottom: -3.5px;
}

.MiniPalette-delete {
}

.MiniPalette-deleteIcon {
    color: white;
    background-color: #eb3d30;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    z-index: 5;
    opacity: 0;
    transition: all 0.3s ease-in-out !important;
}
