.page {
    height: 100vh;
    width: 100%;
    top: 0;
}
.page-enter {
    opacity: 0;
}
.page-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.page-exit {
    opacity: 1;
}
.page-exit-active {
    opacity: 0;
    position: fixed;
    transition: opacity 500ms;
}
